// Mixins
.add-transition(@duration){
	-webkit-transition: all @duration ease-out;
	-o-transition: all @duration ease-out;
	transition: all @duration ease-out;
}

.ft-ubuntu(@size, @weight){
	font-family: 'Ubuntu', sans-serif; 
	font-size: @size; 
	font-weight: @weight; 
}

// Menu
#menu { 
	width: 100%;
	border-bottom: 1px transparent solid;
	position: fixed; 
	background:transparent;  
	z-index: 2;
	.add-transition(0.5s);

	img { 
		max-width: 220px; 
		float: left; 
		padding:20px; 
		.add-transition(0.8s);
	}
}

nav .btn-mobile{
	float: right; 
	margin-top: 25px; 
	display: none;
}

// Menu itens
#menu-itens { 
	list-style: none; 
	float: right; 
	margin-top: 45px; 
	.add-transition(0.8s);

	> .fone-container {
		float: right;
	}

	li {
		display: inline;
		padding: 5px 5px 0px 5px;
	}

	li a {
		.ft-ubuntu(1.1em,300);
		.add-transition(0.5s);
		padding: 0 10px 10px 10px;
		border-bottom: 1px transparent solid;

		&:hover{
			text-decoration: none !important; border-bottom: 1px rgba(255, 255, 255, 0.7)  solid;
		}
	}

	.fone-horizontal {
		display: none;

		span {
			margin: 0 3px 0 3px;
			color: #D72832;
			font-size: 2em;
		}
	}
}

// Itens
#itens{
	ul li a{
		&:active, &:focus{
			 text-decoration: none !important; border-bottom: 1px rgba(255, 255, 255, 0.7)  solid;
		}
	}
}

// Menu mobile
#menu-mobile{
	border-top: 1px rgba(255, 255, 255, 0.33) solid;
	display: none;

	ul{
		padding: 0;
		float: inherit !important;
		margin-left: -30px;
		margin: 30px 0 30px 0 !important;
		list-style: none;

		li{
			display: list-item !important;
			text-align: center !important;
		

			a{
				 color: #fff !important;
				 .ft-ubuntu(1.2em,300);
				 .add-transition(0.5s);
				 border-bottom: 1px transparent solid;

				 &:hover{
				 	text-decoration: none;
				 	border-bottom: 1px rgba(255, 255, 255, 0.33) solid;
				 }
			}
		}
	}
}
// Topo
#topo .linha-extra {
	top: 110px;
}
 
// Fone topo
#fone-topo {
	color: #fff;
	font-size: 2em;
	margin-top: -29px ;
	margin-left: 60px;

	li{
		display: block ;
		padding: 0px ;
		margin-bottom: -10px;
	}

	&:first-child:after{
		font-weight: 600;
		font-size: 1.5em; 
		content: '.';
		position: relative;
		top: -65px;
		right: -71px;
		color: #D72832;
	}

	.bold{
		font-weight: 600;
	}
}
